################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeWave_Zero/TimeWave_Zero/.vs/TimeWave_Zero
